body, html {
  /* height: 100%; */
  margin: 0;
  font: 15px/1.8 "Lato", sans-serif;
  color: #777;
}
h2 {
  letter-spacing: 2px;
  text-transform: capitalize;
  font: 20px "Lato", sans-serif;
  color: #444444;
  text-align: center;
} 
h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}
h4 {
  letter-spacing: 1px;
  text-transform: capitalize;
  font: 15px "Lato", sans-serif;
  color: #444444;
}
.info {
	line-height: normal;
	/* display: none; */
	/* max-height: 0;
  	overflow: hidden;*/
  	transition: max-height 0.2s ease-out;
}
.inputfile {
  	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
	font: 16px "Lato", sans-serif;
	letter-spacing: 1px;
	text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    color: #f1e5e6;
    background-color: #858585;
}
.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile + label:hover {
	outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
    background-color: #535353; 
}
.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}
.head {
  color: #777;
  /* background-color:white;  */
  text-align:center;
  padding:0px 50px; 
}
.footer {
  color: #777;
  /* background-color:white;  */
  text-align:left;
  padding:5px; 
}
.container {  
  text-align:center;  
  /* position:relative; */  
}
.atable{
	padding-left: 20px;
	text-align:left;	
}
.ocombo{
	border: 1px solid #444444;
}
.ecombo{
	border: 2px solid red;
}
.pallette{
	display: inline-block;
	vertical-align: top;
	min-width: 550px;
	border:1px solid #e9e9e9; 	
 	background-color: #e2e2e2;
}
.ui-accordion-header.ui-state-active {
	background-color: #777; 
	border:1px solid #e9e9e9;
}
/* .pallette:after {
  content: '\02795'; Unicode character for "plus" sign (+)
  float: right;
  font-size: 13px;
  color: white;
  
  margin-left: 5px;
} */
/* .pallette-active:after {
  content: "\2796"; Unicode character for "minus" sign (-)
} */
.cm {
  cursor: pointer;
  width: 37px;
  height: 37px;   
  display: inline-block;
  stroke-width: 0;
  background-color:#858585;
    
}
.cm_check {  
  stroke-width: 4;
  stroke: white;
  fill:none;
  margin:5px 5px 5px 5px;  
}
.cm_box{
	fill:#858585;	
}
.cm:focus,
.cm.has-focus,
.cm:hover {
	outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
    background-color: #535353; 
} 